BASE_URL=https://apibapenda.surabaya.go.id:9191
GOOGLE_MAPS_API_KEY=AIzaSyC3rQ7L5nurGK6GtKEn_iTVUWhFTz-ySew
APP_SECRET_KEY=MASTER-SECRET-KEY-GANTI-INI
APP_SIGN_STAGING=14:6D:E9:82:C5:11:0A:B4:99:48:75:38:21:58:CC:2A:89:33:14:20:A1:B2:C3:D4:E5:F6:A7:B8:C9:D0:E1:F2